{% extends "base.html" %} {% block content %}
  <h1>Auxiliar <span class="periodo">{{ month }}/{{ year }}</h1>
  {% if info %}
  <div class="card">
    <h2>Informações do Mês</h2>

    <table>
      <thead>
        <tr>
          <th>Mês</th>
          <th>Ano</th>
          <th>Valor Anterior</th>
          <th>Cotas Pagas</th>
          <th>Tags</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ info[1] }}</td>
          <td>{{ info[2] }}</td>
          <td>{{ info[3] }}</td>
          <td>{{ info[4] }}</td>
          <td>{{ info[5] }}</td>
          <td>
            <a href="{{ url_for('general_info_bp.general_info') }}">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}

  <form method="POST" class="card">
    <h3>Valores</h3>

    <div class="form-group">
      <label>Valor da Cota</label>
      <input
        type="number"
        step="0.01"
        name="valor_cota"
        value="{{ values['valor_cota'] }}"
      />
    </div>

    <div class="form-group">
      <label>Valor da Cota Atrasada</label>
      <input
        type="number"
        step="0.01"
        name="valor_cota_atrasada"
        value="{{ values['valor_cota_atrasada'] }}"
      />
    </div>

    <div class="form-group">
      <label>Valor Tag</label>
      <input
        type="number"
        step="0.01"
        name="valor_tag"
        value="{{ values['valor_tag'] }}"
      />
    </div>

    <h3>Diretoria</h3>

    <div class="form-group">
      <label>Síndico</label>
      <input type="text" name="Sindico" value="{{ management['Sindico'] }}" />
    </div>

    <div class="form-group">
      <label>Presidente</label>
      <input
        type="text"
        name="Presidente"
        value="{{ management['Presidente'] }}"
      />
    </div>

    <div class="form-group">
      <label>Conselheiro 1</label>
      <input
        type="text"
        name="Conselheiro 1"
        value="{{ management['Conselheiro 1'] }}"
      />
    </div>

    <div class="form-group">
      <label>Conselheiro 2</label>
      <input
        type="text"
        name="Conselheiro 2"
        value="{{ management['Conselheiro 2'] }}"
      />
    </div>

    <button type="submit">Salvar</button>
  </form>
</div>

{% endblock %}
