<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Sistema{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="menu">
      <div class="menu-left">
        <a
          href="{{ url_for('general_info_bp.general_info', month=mes_atual, year=ano_atual) }}"
          >Geral</a
        >
        <a
          href="{{ url_for('general_info_bp.expense_form' ,month=mes_atual, year=ano_atual) }}"
          >Despesas</a
        >
        <a
          href="{{ url_for('general_info_bp.debit_houses_form', month=mes_atual, year=ano_atual) }}"
        >
          Casas com Débito
        </a>
        <a
          href="{{ url_for('general_info_bp.house_payed_form', month=mes_atual, year=ano_atual) }}"
        >
          Casas Pagas em Atraso
        </a>
        <a href="{{ url_for('general_info_bp.aux_form') }}">Auxiliar</a>
      </div>

      <div class="menu-right">Vila Santa Maria</div>
    </div>

    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
