{% extends "base.html" %} {% block content %}

<div class="form-wrapper">
  <div class="form-card">
    <h1>Cadastrar Novo Mês</h1>

    <form method="POST" action="/general_info">
      <div class="form-group">
        <label for="month">Mês:</label>
        <input
          type="number"
          id="month"
          name="month"
          min="1"
          max="12"
          value="{{ mes_atual }}"
          required
        />
      </div>

      <div class="form-group">
        <label for="year">Ano:</label>
        <input
          type="number"
          id="year"
          name="year"
          value="{{ ano_atual }}"
          required
        />
      </div>

      <div class="form-group">
        <label for="previus_balance">
          Valor do balancete do mês anterior:
        </label>
        <input
          type="number"
          id="previus_balance"
          name="previus_balance"
          value="{{ valor_anterior }}"
          step="0.01"
          required
        />
      </div>

      <div class="form-group">
        {% set casas = [ "1", "2", "3", "4/101", "4/102", "5", "6/101", "6/102",
        "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18",
        "19", "20", "21", "22", "23", "24", "25", "26", "27", "28" ] %}

        <div class="houses-grid">
          {% for casa in casas %}
          <label class="house-item">
            <input type="checkbox" class="house-check" />
            {{ casa }}
          </label>
          {% endfor %}
        </div>
      </div>
      <label>Cotas Pagas:</label>

      <!-- Campo real que vai para o backend -->
      <input
        type="number"
        id="paid_quotas"
        name="paid_quotas"
        value="0"
        readonly
        required
      />

      <div class="form-group">
        <label for="tags">Tags:</label>
        <input type="number" id="tags" name="tags" value="0" min="0" required />
      </div>

      <button type="submit" class="btn-submit">Salvar</button>
    </form>
  </div>
</div>

<script>
  const checkboxes = document.querySelectorAll(".house-check");
  const paidInput = document.getElementById("paid_quotas");

  function updateTotal() {
    let total = 0;
    checkboxes.forEach((cb) => {
      if (cb.checked) total++;
    });
    paidInput.value = total;
  }

  checkboxes.forEach((cb) => {
    cb.addEventListener("change", updateTotal);
  });
</script>
{% endblock %}
